html {
	height: 100%;
}

body {
	padding-top: 50px;
	background-color: #ffffff;
	height: 100%;
}

.nopadding {
	padding: 0 !important;
}

.noboder {
	border: 0 !important;
}

.leftbar {
	background-color: #222;
	height: 100% !important;
	position: fixed;
	z-index: 999;
	box-shadow: inset 5px 0 5px -5px #333, inset -5px 0 5px -5px #333;
}

.leftbar * {
	background: transparent !important;
	border: 0;
	border-radius: 0;
	color: white !important;
}

.leftbar .panel-default .list-group .list-group-item {
	border-radius: 0 !important;
	padding-left: 40px;
	transition: all 0.4s;
}

.leftbar .panel-default .list-group .list-group-item:hover {
	background-color: #333 !important;
}

.number-right {
	background-color: #007AFF;
}

.baricon {
	padding-right: 10px;
}

.panel-title-bar {
	color: #FF0066 !important;
}

.container-fluid {
	height: 100%;
}

.step {
	width: 100%;
	margin-bottom: 20px;
}

.step .btn {
	width: 14.35%;
}

.btn-active, .btn-primary {
	background-color: #15A4FA;
	color: white;
	border-color: #15A4FA;
	transition: background-color ease-out 0.4s;
}

.btn-active:hover, .btn-primary:hover {
	background-color: #4ab9f9;
	color: white;
	border-color: #15A4FA;
}

.btn-done {
	background-color: #8dd3fc;
	border-color: #8dd3fc;
	color: white;
}

.btn-done:hover {
	background-color: #ade1ff;
	border-color: #8dd3fc;
	color: white;
	transition: background-color ease-out 0.4s;
}

.btn-active:hover {
	color: white;
}

.navbar-default {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.nav-brand {
	background-color: #AD3333;
}

.nav li:hover {
	transition: all 0.4s;
}

.dialog {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 1px 0px 10px black;
}

.data {
	height: 100%;
}

.nav-tabs-content {
	border-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.img-responsive {
	width: 100% !important;
}

.badge {
	background-color: #1E9EFA !important;
}

.login-left {
	height: 100%;
	background-color: #AD3333;
	box-shadow: 33px 19px 18px black;
	border-right: 1px solid rgb(209, 90, 90) !important;
	-webkit-box-shadow: 10px 0px 12px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 10px 0px 12px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 10px 0px 12px 0px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.login-control {
	color: white;
	background-color: #444;
	border: 1px solid #555;
}

.login-control:hover {
	background-color: #555;
	transition: all ease-out 0.4s;
}

.login-button {
	width: 100%;
	background-color: #0484C9;
	color: #ddd;
	border: 0;
	transition: background-color ease-out 0.4s;
}

.login-button:hover {
	background-color: #40A2E3;
	color: white;
	border: 0;
}

/* Style for popup */
.popup {
	position: fixed;
	z-index: 999;
	top: 16.66666666666666%;
	left: 16.66666666666666%;
	display: none;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 998;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}