<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- <property name="hibernate.bytecode.use_reflection_optimizer">false</property> -->
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
		<!-- <property name="hibernate.connection.password">root</property> -->
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property> -->
		<!-- <property name="hibernate.connection.username">root</property> -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
		<!-- <property name="hibernate.search.autoregister_listeners">false</property> -->

		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>

		<property name="connection.pool_size">1</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<mapping resource="com/htqlbh/model/User.hbm.xml" />
		<mapping resource="com/htqlbh/model/WarehouseInventoryDetail.hbm.xml" />
		<mapping resource="com/htqlbh/model/InvoiceType.hbm.xml" />
		<mapping resource="com/htqlbh/model/Stock.hbm.xml" />
		<mapping resource="com/htqlbh/model/GroupUser.hbm.xml" />
		<mapping resource="com/htqlbh/model/SalesOrder.hbm.xml" />
		<mapping resource="com/htqlbh/model/SlsOrderDetail.hbm.xml" />
		<mapping resource="com/htqlbh/model/Vendor.hbm.xml" />
		<mapping resource="com/htqlbh/model/DistributorPayment.hbm.xml" />
		<mapping resource="com/htqlbh/model/WarehouseInventory.hbm.xml" />
		<mapping resource="com/htqlbh/model/Unit.hbm.xml" />
		<mapping resource="com/htqlbh/model/Payment.hbm.xml" />
		<mapping resource="com/htqlbh/model/Inventory.hbm.xml" />
		<mapping resource="com/htqlbh/model/InventoryVoucher.hbm.xml" />
		<mapping resource="com/htqlbh/model/PurchaseOrder.hbm.xml" />
		<mapping resource="com/htqlbh/model/InventoryVoucherDetail.hbm.xml" />
		<mapping resource="com/htqlbh/model/SalesPerson.hbm.xml" />
		<mapping resource="com/htqlbh/model/PurchaseOrdDetail.hbm.xml" />
		<mapping resource="com/htqlbh/model/Customer.hbm.xml" />
	</session-factory>
</hibernate-configuration>
