*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# build directories
/target
/build
/dist
# Macintosh files
**/**/.DS_Store
.DS_Store
# Other
nbactions.xml
/reports
/src/main/webapp/jsc/*.js
/src/main/webapp/repository
# IDE/Eclipse settings
/.project
/.classpath
/.settings
/.externalToolBuilders
#I think that this is where MANIFEST.MF should go according to maven specs.
#For now, I will ignore it. Esteban
/src/main/webapp/META-INF/MANIFEST.MF