@CHARSET "UTF-8";
* {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 13pt;
	outline: blue 1px solid;
}

.header {
	display: block;
	height: 50px;
	background: #ccc;
	width: 100%;
	float: left;
}

.container {
	
}

.sidebar {
	display: block;
	width: 15%;
	float: left;
	background: #1c1c1c;
}

.content {
	display: block;
	width: 85%;
	float: right;
	
}

.left-content {
	display: block;
	width: 70%;
	min-height: 500px;
	float: left;
	background: #fff;
}

.right-content {
	display: block;
	width: 29%;
	float: left;
	background: #ccc;
}

.footer {
	display: block;
	width: 100%;
	float: left;
}