<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="helloWorld" class="com.edu.vn.HelloWorld">
		<property name="message" value="Hahha" />
	</bean>

	<bean id="button" class="com.edu.vn.Button">
		<property name="type" value="button" />
		<property name="value" value="Ok Click Di" />
	</bean>

	<bean id="button2" class="com.edu.vn.Button">
	<property name="type" value="button" />
		<property name="value" value="Cancle" />
	</bean>


</beans>